spring:
  application:
    name: LibrarySystem
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/librarysystem
    username: user
    password: pass
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true

jwt:
  private.key: classpath:priv.key
  public.key: classpath:pubkey.pub
  expiry: 36000